<h2 class="span2">
About 
</h2>

<h5 class="h5-custom span10 offset1">

	We created this series to help new speakers of all ages (from newborns to their parents and grandparents) learn Mandarin Chinese by focusing on the Four Tones.  The series theme, Food With Family, is about family and eating which are important in Chinese culture.  It does not matter which book you start from.  Each one is a standalone story and introduces a new tone on the last page.

	<br/>
	<br/>
	Our books are illustrated with whimsical scenes with animals and important family members.  Each page have description in English and Chinese, which comes with both the Chinese character and Pinyin, a standardized romanization of Chinese pronunciation. 

	</br>
	</br>
	
	Between each scene are pages that illustrate the tone and help remind the reader of the intonation.  Each book comes with a pronunciation guide created using sounds spoken in everyday English.  Even if you are not a native speaker, your pronunciation will be accurate by following the guide here.

	</br>
	</br>
	We hope you have as much fun learning and reading these books as we have had creating them!

</br>
</br>
	Sincerely,
</br>
</br>
</br>
</br>
</h5>

<h3 class="span10 offset3">
	FiFo and Moojie
</h3>


