<h2 class="span2">
About 
</h2>

<h5 class="span10 offset1">
	Research shows that as children grow older, they lose the ability to hear and make certain sounds if they're not used or exposed to them regularly.  That's how people get accents when they try to learn a language later in life!  

</br>
</br>
	We created this series to help new speakers of all ages (from newborns to their parents and grandparents) learn Mandarin Chinese by focusing on the Four Tones.  There are four books... one for each tone!

</br>
</br>
	This series of books provides a great way for parents to expose their kids to Chinese tones, giving them a solid foundation for the langauge.  

</br>
</br>
	This series, Food with Family, is about family and eating which are important in Chinese culture.  It does not matter which book you start from.  Each one is a standalone story and introduces a new tone on the last page.

</br>
</br>
	We hope you have as much fun learning and reading these books as we have had creating them!

</br>
</br>
	Sincerely,
</br>
</br>
</br>
</br>
</h5>

<h2 class="span10 offset3">
	FiFo and Moojie
</h2>


