<h2 class="span2">
  Contact Us
</h2>

<h5  class="h5-custom span10 offset1">
We are actively working on the next set of books.  If you have any thoughts and feedback (both good and bad), please send them to us!

</br>
</br>
Our email address is contact@snagaby.com.  Thank you!
</h5>