
<div class="span6 text-center">
    
	<!-- Add the image -->
    <%= image_tag("Cover_book1.PNG", alt: "Book 1 cover") %>
                
</div>

<div class="span8">
	<h1 class="h1-custom"> 
	Food With Family Series - Book 1
	</h1>

	<br/>
	<br/>
	<h2>
	This series was created to help new speakers of all ages (from newborns to their parents and grandparents) learn Mandarin Chinese by focusing on the Four Tones. The series theme, Food With Family, is about family and eating which are important in Chinese culture.

	<br/>
	<br/>
	The books consist of whimsical scenes where each page follows the pattern of picture, description in English and description in Chinese.The Chinese is given both in Chinese character and in Pinyin, a standardized romanization of Chinese pronunciation. Between each scene are pages that illustrate the tone and help remind the reader of the correct intonation.

	<br/>
	<br/>

	The first book in the series focuses on Tone 1, introducing words that
    use this flat tone.

</h2>
</div>

<div class="span10">
	<iframe width="640" height="360" src="//www.youtube.com/embed/_MCY6SDDlR0?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
</div>
