
<div class="span4 text-center">
    
	<!-- Add the image -->
    <%= image_tag("Cover_book1.PNG", alt: "Book 1 cover") %>
                
</div>

<div class="span4">
	<h2> 
	Welcome Home - Book 1 of 4
	</h2>

	<br/>
	<br/>
	<h5 class="h5-custom">
		Research shows that as children grow older, they lose the ability to hear and make certain sounds if they're not used or exposed to them regularly.  That's how people get accents when they try to learn a language later in life!  

		</br>
		</br>
		This book series provides a great way for parents to expose their kids to Chinese tones, giving them a solid foundation for the langauge.  There are four books... one for each tone!  The first book in the series focuses on Tone 1, introducing words that use this flat tone.


		</br>
		</br>
		We believe that new speakers of all ages (from newborns to their parents and grandparents) can learn Mandarin Chinese by focusing on the Four Tones.  To make the sounds easy to understand and master, we created a pronunciation guide using sounds spoken in everyday English.  Even if you are not a native speaker, your pronunciation will be accurate by following the guide here.
		
		<br/>
		<br/>
		
	</h5>

	<div class="text-center">
		<%= link_to image_tag("Button_Buy_from_amazon.gif", alt: "Button to buy from Amazon"), src="http://www.amazon.com/gp/product/1492369756/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1492369756&linkCode=as2&tag=snagbook-20" %>
	</div>
	
	<br/>
	<br/>
	<br/>
	<br/>

</div>


<div class="span4 text-center">
	<h3 class="span4">
		Watch a Live Reading
	</h3>

	<iframe width="360" height="300" src="//www.youtube.com/embed/_MCY6SDDlR0?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
</div>


